.overlayText {
  position: absolute;
  width: 25%;
  top: 20%;
  right: 20%;
  z-index: 1;
}

.topText {
  font-size: 20px;
  text-align: center;
}

.btnWidth {
  width: 100%;
}

.reduceOpa {
  opacity: 0.9;
}
